*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    height: auto;
    width: 250px;
    display: flex;
    flex-direction: column;

    margin: 3rem auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gray;
    color: #fff;
}

input[type="submit"]{
    height: auto;
    width: 50%;
    font-size: 20px;

    margin: 0 auto;
}